*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_div{
    background-color: palegreen;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.center_div{
    height: 70vh;
    width: 20%;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 5px 5px 25px;
}

.newBtn {
    width: 40px;
    height: 50px;
    background-color: gray !important;
    color: white !important;
    border-radius: 50% !important;
}

.newBtn:hover {
    background-color: gold !important;
    color: green !important;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  min-width: 64px;
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.02857em;
}

input {
    text-align: center;
    height: 30px;
    width: 60%;
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    outline: none;
    margin-right: 20px;
}

ol li {
    list-style: none;
    padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.todo_list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.deleteicon{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  padding: 5px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.deleteicon:hover {
    background-color: transparent;
    color: red;
}